{% extends 'base.html' %}

{% block content %}
<form method="POST">
    <button><a href="{{ url_for('.article')}}">Назад к списку новостей</a></button>
    <input type="submit" value="Удалить" name="submit">
</form>
<form method="POST" enctype=multipart/form-data>
    {% for x in query %}
    <label for="title">Заголовок
        <input type="text" name="title" placeholder="Заголовок" id="title" size="30" maxlength="10" value="{{x.1}}">
    </label>
    <label for="subtitle">Подзаголовок
        <input type="text" name="subtitle" placeholder="Подзаголовок" id="subtitle" size="30" maxlength="10" value="{{x.2}}">
    </label>
    <label for="content_page">Описание
        <input type="text" name="content_page" placeholder="Описание" id="content_page" size="30" maxlength="10" value="{{x.3}}">
    </label>
    <img src="/static/img/uploads/{{x.4}}" width="33%" height="33%">
    <label for="img">Изображение
        <input type="file" name="img" placeholder="Изображение" id="img" accept="image/png,image/jpeg">
    </label>
    <input type="submit" value="Сохранить" name="submit">
    {% endfor %}
</form>

{% endblock %}